@charset "ISO-8859-1";
h2
{
color:blue;
text-align:center;
font-family:vardana;
font-size:40px;
}
#sur1
{
color:green;
text-align:center;
font-family:vardana;
font-size:60px;
}
.net
{
background-color:red;
width:40%;
height:40%;
}
h4,h5,h6,div
{
text-align:left;
color:red;
background-color:skyblue;
font-family:timesnewroman;
}
body
{
background-color:yellow;
color:black;
}
