@charset "ISO-8859-1";
header{
	color:yellow;
	font-size:50px;
	background-color:aqua;
	border:2px solid black;
	text-align:center;
	padding:20px;
	position:fixed;
	top:50px;
}
section{
	width:60%;
	text-align:justify;
	font-family:"Times New Roman";
	font-size:20px;
	margin-left:20px;
}